<style>
    .modal-content {
        background-color: #212121;
    }
</style>

<!-- Information product Modal -->
<div class="modal fade" id="Modal-MoreInfo-{{ item.id }}" tabindex="-1" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">
                    {{ item.name }}
                </h5>

                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">x</span>
                </button>
            </div>

            <div class="modal-body">
                {{ item.description }}
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<!-- Purchase confirm Modal -->
<div class="modal fade" id="Modal-PurchaseConfirm-{{ item.id }}" tabindex="-1" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">
                    {{ item.name }}
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">x</span>
                </button>
            </div>

            <div class="modal-body">
                <form method="POST">
                    {{ purchase_form.hidden_tag() }}

                    <h4 class="text-center">
                        Esta seguro que quiere comprar {{ item.name }} por ${{ item.price }}?
                    </h4>
                    <br>

                    <h6>
                        Dando click, usted comprará este producto
                    </h6>
                    <br>

                    <input id="purchased_item" name="purchased_item" type="hidden" value="{{item.name}}">
                    {{ purchase_form.submit(class="btn btn-outline-success btn-block") }}
                </form>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>